@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
.box-shadow {
  -webkit-box-shadow: 4px 4px 6px #990000;
          box-shadow: 4px 4px 6px #990000;
}

body,
html {
  height: 100%;
}

body {
  font-family: 'Lato';
  margin: 10px;
  background-color: #000000;
}

body p,
body h1,
body h2,
body h3 {
  color: #ffffff;
}

.banner {
  border-left: 2px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  border-right: 2px solid #ffffff;
  margin: 15px 20px 20px 20px;
  padding: 5px;
  text-align: center;
}

.banner h1 {
  text-shadow: 2px 3px 3px #990000;
}

.banner h2 {
  font-size: 1.5rem;
  text-shadow: 2px 3px 3px #990000;
}

.banner a {
  text-decoration: none;
}

.nav {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav div {
  width: 20%;
  text-align: center;
  border: 4px solid #ffffff;
}

.nav div:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.nav div:hover a {
  font-weight: 600;
}

.nav div a {
  display: block;
  padding: 10% 5%;
  text-decoration: none;
  color: #ffffff;
}

.content {
  margin: 10%;
}

.content p {
  text-align: justify;
}

.content h1,
.content h2 {
  text-align: center;
  text-decoration: none;
}

.content .text-centered {
  text-align: center;
}

.content ul {
  width: 70%;
  margin: auto;
}

.content li {
  color: #ffffff;
}

.content a {
  color: #ffffff;
}

.container {
  margin-bottom: 40px;
}

.footer {
  width: 80vw;
  margin: auto;
  padding: 2%;
  border-left: 2px solid #ffffff;
  border-top: 4px solid #ffffff;
  border-right: 2px solid #ffffff;
  -webkit-box-shadow: 4px -4px 6px #990000;
          box-shadow: 4px -4px 6px #990000;
  margin-bottom: 0;
}

.footer p {
  text-align: center;
}

.menu div:hover {
  visibility: hidden;
}

.profpic {
  display: block;
  float: right;
  shape-outside: circle();
  margin: 0px 20px 26px -10px;
}

.profpic label {
  border-radius: 50%;
  height: 200px;
  cursor: pointer;
  overflow: hidden;
  content: url(/img/profil1.png);
}

.profpic #profpicker {
  opacity: 0;
}

.profpic #profpicker:checked + label {
  border-radius: 50%;
  height: 200px;
  cursor: pointer;
  overflow: hidden;
  content: url(/img/profil2.png);
}

#projects {
  margin: auto;
  text-align: center;
  height: 40vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  overflow: hidden;
}

#projects .project-tile {
  background-color: white;
  margin: 5px;
  height: 100%;
  -webkit-box-shadow: 4px -4px 6px #990000;
          box-shadow: 4px -4px 6px #990000;
  width: 2000px;
}

#projects .project-tile h2 a {
  text-decoration: none;
  color: black;
}

.project-tile iframe {
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */